////////////////////////////////////////////////////////////////////////
// %NAME.cpp
// Copyright (C) 2011  Olivier Guittonneau openmengine@gmail.com
////////////////////////////////////////////////////////////////////////

#include %HPP

namespace OpenMouleEngine
{
    %NAME::%NAME()
    {
    }


    %NAME::~%NAME()
    {
    }
} // namespace
